<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>     
        <app-menu id="menu" #menu *ngIf="userInfo && !(isOnboarding$ | async)" [folded]="menuFolded"
          (foldingPanel)="foldingPanel($event)">
        </app-menu>
        <button *ngIf="!menuFolded && (isOnboarding$ | async) && smallDevice" mat-mini-fab class="menu-close"
          (click)="closeOnboardingMenu()">
          <i class="fas fa-chevron-left"></i>
        </button>
        <app-onboarding-menu id="menu" #menu *ngIf="userInfo && (isOnboarding$ | async)">
        </app-onboarding-menu>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>