<ion-content>
  <div class="auth forgot-password">
    <div class="form-wrapper">
      <h3 translate="auth.forgot-password.title"></h3>

      <div class="form-body">
        <form role="form" [formGroup]="forgotPasswordForm" name="forgotPassword" (ngSubmit)="forgotPassword()">
          <app-form-notification type="danger" [notifications]="formValidate.errors ? [formValidate.errors] : []">
          </app-form-notification>
          <div data-form-notifications="auth.form.errors" data-type="warning"></div>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'auth.email.long' | translate }}</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="displayMessage.email">{{displayMessage.email}}</mat-error>
          </mat-form-field>

          <button class="full-width" type="submit" mat-raised-button color="primary" translate="auth.button.request">
          </button>
        </form>
      </div>

      <span class="login-link">
        <a [routerLink]="['/auth/login']" translate="auth.label.login-forgot"></a>
      </span>
    </div>
  </div>
</ion-content>