.intro {
  margin: 20px 0;
}
.question-counter {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.question {
  white-space: pre-wrap;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 31px;
}
