<div class="row" *ngIf="!(targetBudget && targetBudget.length)">
  <div class="col-xs-12">
    <app-load-html template="target-budget.hint"></app-load-html>
  </div>
</div>
<div class="row" *ngIf="(targetBudget && targetBudget.length)">
  <div class="col-xs table-wrapper">
    <div class="table-inner-wrapper">
      <table class="search-table" mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> {{'projects.target-budget.table.role' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> {{'projects.target-budget.table.total' | translate}} </th>
          <td mat-cell *matCellDef="let element"> <span [appCurrencySymbol]="currency"></span>{{element.total ? element.total : 0}} </td>
        </ng-container>

        <ng-container matColumnDef="per_hour">
          <th mat-header-cell *matHeaderCellDef> {{'projects.target-budget.table.per-hour' | translate}} </th>
          <td mat-cell *matCellDef="let element"> <span [appCurrencySymbol]="currency"></span>{{element.per_hour ? element.per_hour : 0}} </td>
        </ng-container>
        <ng-container matColumnDef="per_shift">
          <th mat-header-cell *matHeaderCellDef> {{'projects.target-budget.table.per-shift' | translate}} </th>
          <td mat-cell *matCellDef="let element"> <span [appCurrencySymbol]="currency"></span>{{element.per_shift ? element.per_shift : 0}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <app-paginator [onlyCount]="true" [pageSize]="targetBudget.length" [length]="targetBudget.length"></app-paginator>
  </div>
</div>