<div class="row">
  <div class="table-wrapper">
    <div class="table-inner-wrapper">
      <table
        mat-table
        class="search-table"
        width="100%"
        [dataSource]="assignments ? assignments : []"
      >
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="col-select">
            <mat-checkbox
              color="primary"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="col-select">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row.id) : null"
              [checked]="selection.isSelected(row.id)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="appointedAt">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.appointedAt" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.appointed_at | date: 'mediumDate' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="checkinStart">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.checkinStart" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.checkinStart }}
          </td>
        </ng-container>
        <ng-container matColumnDef="checkinEnd">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.checkinEnd" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.checkinEnd }}
          </td>
        </ng-container>
        <ng-container matColumnDef="checkinPerformer">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.checkinPerformer" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.checkinPerformer }}
          </td>
        </ng-container>
        <ng-container matColumnDef="wage">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.wage" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.wage }}
          </td>
        </ng-container>
        <ng-container matColumnDef="additionalCosts">
          <th mat-header-cell *matHeaderCellDef class="col-additionalCosts">
            {{ "invoices.table.additionalCosts" | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="col-additionalCosts">
            <div [innerHtml]="element.additionalCosts"></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="incentiveModel">
          <th mat-header-cell *matHeaderCellDef class="col-incentiveModel">
            {{ "invoices.table.incentiveModel" | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="col-incentiveModel">
            <div [innerHtml]="element.incentiveModel"></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="sitename">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.sitename" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.sitename }}
          </td>
        </ng-container>
        <ng-container matColumnDef="jobname">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.jobname" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.jobname }}
          </td>
        </ng-container>
        <ng-container matColumnDef="maxEstimatedCosts">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.maxEstimatedCosts" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.maxEstimatedCosts }}
          </td>
        </ng-container>
        <ng-container matColumnDef="freelancerCostsNet">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.freelancerCostsNet" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.freelancerCostsNet }}
            <button type="button" mat-icon-button  (click)="freelancerCostsNet(element)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="taxRate">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.taxRate" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.taxRate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="plannedCosts">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.plannedCosts" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.plannedCosts }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignmentBudgetCorrection">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.assignmentBudgetCorrection" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.assignmentBudgetCorrection }}
            <button type="button" mat-icon-button (click)="assignmentBudgetCorrection(element)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>
            {{ "invoices.table.comment" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.comment }}
            <button type="button" mat-icon-button (click)="comment(element)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="assignmentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: assignmentColumns"></tr>
      </table>
      <!-- <app-table-spinner
        *ngIf="
          this.freelancerSubscribe && !this.freelancerSubscribe.closed
        "
      ></app-table-spinner> -->
    </div>
  </div>
</div>
