@import "variables";
@import "mixins";

.invite-search {
  .search-form {
    padding: 20px;
  }

  .post-code-cont {
    .mat-form-field {
      padding: 0 5px 0 0;

      &:last-child {
        padding: 0 0 0 5px;
      }
    }
  }

  ::ng-deep .mat-form-field {
    .mat-form-field-outline {
      border: 1px solid #21b4b0;
      border-radius: 7px;
    }

    .mat-form-field-flex:focus-visible {
      outline: none;
    }

    .mat-form-field-flex {
      height: 45px;
      display: flex;
      align-items: center;
    }

    .mat-select-arrow {
      color: #21B4B0;
      font-size: larger;
      margin: 0 0 0 20px;
      border-left: 7px solid transparent !important;
      border-right: 7px solid transparent !important;
      border-top: 8px solid !important;
      width: 0;
      height: 0;
      transform: scale(1) !important;
    }
  }
}
.freelancer-offer-tile {
  color: #999999;
  margin-bottom: 15px;
}
.freelancer-offer-tile.matched {
  color: #222;
  h3, span {
    color: #222 !important;
  }
}

.acion-title-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }
  .action-btn-cont {
    a {
      // border-radius: 10px;
      &[disabled] {
        pointer-events: none;
        border-color: $gray-light;
      }
    }
  }
}
.job-view--type{
  .btn-group{
    button{
      border-radius: 0px !important;
      border: 1px solid $brand-primary;
      background-color: transparent;
      height: 25px;
      width: 50px;
      color: $brand-primary;
      &.active{
        background-color: $brand-primary;
        color:$p4y-color-white;
      }
    }
  }
}

.panel.CustomePanel {
  padding: 15px;
  border: 1px solid #ccc;
}
.panel.CustomePanel.expired {
  border-bottom: 3px solid #d44;
}
.panel.CustomePanel .panel-heading {
  display: flex;
  flex-direction: column;
  font-variant: all-small-caps;
  color: #999;
}
.panel.CustomePanel .panel-heading .category div.end-xs span{
  margin-right: 10px;
}
.panel.CustomePanel .panel-heading .category div.end-xs a {
  cursor: pointer;
}
.panel.CustomePanel i {
  margin-right: 5px;
}
.panel.CustomePanel .panel-body {
  padding: 15px 0 0;
  min-height: 100px;
}
.panel.CustomePanel .panel-body .header.date-card {
  display: flex;
  padding: 0;
}
.panel.CustomePanel .panel-body .header.date-card .date{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 80px;
  border: 2px solid #d0d0d1;
  text-align: center;
  box-sizing: border-box;
  margin-right: 10px;
}
.panel.CustomePanel .panel-heading .smallPWidth {
  position: relative;
  display: inline-flex;
  width: 60%;
  flex: 60%;
  flex-direction: column;
}
.panel.CustomePanel .panel-heading .smallPWidth h3.title {
  font-size: 17px;
  color: #222;
  text-transform: inherit;
  margin-bottom: 9px;
}
.panel.CustomePanel .panel-heading .smallPWidth span.subtitle {
  font-size: 15px;
  text-transform: inherit;
  color: #21b4b0;
  font-weight: 600;
}
.panel.CustomePanel .panel-heading  .boxId {
  position: relative;
  display: inline-flex;
  width: calc(100% - 61%);
  flex: calc(100% - 61%);
  height: fit-content;
  align-items: center;
  padding-left: 9px;
  justify-content: flex-end;
}
.panel.CustomePanel .panel-heading {
  width: calc(100% - 30px) !important;
  flex: calc(100% - 30px) !important;
  flex-direction: inherit !important;
  padding-left: 15px;
  padding-right: 15px;
}
.panel.CustomePanel .panel-heading .boxId span.jobId {
  border: 1px solid #ccc;
  height: auto;
  margin-right: 7px;
  padding: 4px;
  font-size: 15px;
  line-height: 1;
}
.panel.CustomePanel .panelBodyDetil {
  position: relative;
  display: block;
}
.panel.CustomePanel .panelBodyDetil p.addressB {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}
.panel.CustomePanel {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.panel.CustomePanel .panelBodyDetil p.staffP {
  font-size: 13px;
  margin-bottom: 0;
}
.panel.CustomePanel .panelBodyDetil p.stafName {
  font-size: 12px;
  margin-bottom: 17px;
}
.panel.CustomePanel .panelBodyDetil button.sendInvite {
  box-shadow: none;
  border: 1px solid #21b4b0;
  background: transparent;
  padding: 3px 22px;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 500;
  background-color: #21b4b0;
  color: #fff;
}
.panel.CustomePanel .panelBodyDetil ul.detilList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -10px;
}
.panel.CustomePanel .panelBodyDetil ul.detilList li {
  padding-bottom: 8px;
  font-size: 13px;
}
.panel.CustomePanel .panelBodyDetil ul.detilList li strong {
  width: 54%;
  display: inline-block;
  font-weight: normal;
  color: #888;
}
.panel.CustomePanel .panel-footer {
  padding-left: 15px;
  padding-right: 15px;
}
.panel.CustomePanel .panel-footer span {
  font-size: 13px;
  font-weight: 600;
}
.panel.CustomePanel .panel-footer span.dateTitle {
  display: block;
  color: #222 !important;
}
.panel.CustomePanel .panel-footer span {
  margin-left: -10px;
}
.post-code-cont {
  .mat-form-field {
    padding: 0 5px 0 0;

    &:last-child {
      padding: 0 0 0 5px;
    }
  }
}
.btnDisable{
  pointer-events: none;
  background-color: #edf1f2;
}




