<app-search-container>
  <app-search-panel
    [actions]="[
      {
        key: 'new_invoice',
        link: '/invoices/create',
        text: ('invoices.buttons.create' | translate),
        permission: true
      }
    ]"
  >
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col-xs-12">
          <h4>{{ "ui.side-option-menu.filter" | translate }}</h4>
        </div>
        <mat-form-field class="col-xs-12">
          <mat-label>{{ "invoices.filters.state" | translate }}</mat-label>
          <mat-select formControlName="state">
            <mat-option>{{ "ui.option.deselect" | translate }}</mat-option>
            <mat-option *ngFor="let option of stateLK" [value]="option.value">
              {{ option.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-xs-12">
          <mat-label>{{ "invoices.filters.job" | translate }}</mat-label>
          <app-static-auto-complete
            #client
            [clearSelection]="true"
            formControlName="jobId"
            [options]="jobList"
          >
          </app-static-auto-complete>
        </mat-form-field>
        <mat-form-field class="col-xs-12" *ngIf="!isFreelancer">
          <mat-label>{{ "invoices.filters.attributes" | translate }}</mat-label>
          <mat-select formControlName="attributes" multiple>
            <mat-option
              *ngFor="let option of attributesLK"
              [value]="option.value"
            >
              {{ option.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-xs-12" *ngIf="!isFreelancer">
          <mat-label>{{ "invoices.filters.freelancer" | translate }}</mat-label>
          <app-static-auto-complete
            #client
            [clearSelection]="true"
            formControlName="freelancerId"
            [options]="freelancerList"
          >
          </app-static-auto-complete>
        </mat-form-field>
        <div class="col-xs-12">
          <mat-label>{{ "invoices.filters.dates" | translate }}</mat-label>
        </div>
        <mat-form-field class="col-xs-12">
          <mat-label>{{ "ui.filter.dates.min" | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="dateFrom"
            formControlName="dateFrom"
            name="dateFrom" autocomplete="off"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateFrom"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-xs-12">
          <mat-label>{{ "ui.filter.dates.max" | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="dateTo"
            formControlName="dateTo"
            name="dateTo" autocomplete="off"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateTo"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
        <div class="col-xs-12">
          <h4>{{ "ui.side-option-menu.search" | translate }}</h4>
        </div>

        <div class="col-xs-12">
          <mat-form-field class="full-width">
            <mat-label>{{
              "ui.side-option-menu.placeholder" | translate
            }}</mat-label>
            <input matInput formControlName="search" type="search" />
            <i matSuffix class="fas fa-search"></i>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
  </app-search-panel>
  <app-search-list>
    <div class="row">
      <div class="col-xs">
        <h1 [translate]="'invoices.title.list'"></h1>
      </div>
    </div>
    <div class="row center-xs" *ngIf="noRecords$ | async">
      <div class="col-xs">
        <div class="alert alert-info text-center">
          {{ "ui.list-table.default.no-records" | translate }}
        </div>
      </div>
    </div>
    <div class="table-wrapper" *ngIf="!(noRecords$ | async)">
      <div class="row">
        <div
          app-invoice-tile
          [item]="item"
          class="col-xs-12 col-md-6 col-sm-12 col-lg-6 padding-none"
          *ngFor="let item of result$ | async"
          (cardClicked)="cardClicked(item)"
          (detail)="gotoDetail(item)"
          (check)="gotoCheck(item)"
        ></div>
      </div>
      <app-table-spinner *ngIf="loading$ | async"></app-table-spinner>
      <div class="row">
        <div class="col-xs">
          <app-paginator
            [disabled]="loading$ | async"
            hidePageSize="true"
            showFirstLastButtons="true"
            [length]="totalRecords$ | async"
            [pageIndex]="currentPage$ | async"
            [pageSize]="pageSize$ | async"
            (page)="pageChange($event)"
          ></app-paginator>
        </div>
      </div>
      <div class="row end-xs">
        <button
          type="button"
          mat-stroked-button
          color="primary"
          (click)="download()"
        >
          {{ "ui.list-table.default.download" | translate }}
        </button>
        <button
        type="button"
        mat-stroked-button
        color="primary"
        (click)="downloadZip()"
      >
        {{ "invoices.download-as-zip" | translate }}
      </button>
      </div>
    </div>
  </app-search-list>
</app-search-container>
