.acion-title-holder {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 20px 0 10px;
  }
}
.timepicker-dial__hint {
  display: inline-block;
  font-size: 10px;
  color: #fff;
}
.alert-info {
  P {
    line-height: 24px;
    letter-spacing: 0.25px;
  }
}
