<mat-tree class="col-xs-12" [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" class="child-node col-xs-12 col-md-4" matTreeNodeToggle>
      <mat-checkbox color="primary" class="checklist-leaf-node"
                    [checked]="checklistSelection.isSelected(node)"
                    (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" class="col-xs-12 col-md-12 parent-node" matTreeNodePadding>
      <mat-checkbox color="primary" [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                    (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
      <button type="button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
        <mat-icon color="primary" class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
        </mat-icon>
      </button>
    </mat-tree-node>
</mat-tree>
