.revenue-form {
  padding: 20px;
}
.details{
  margin-bottom: 25px;
}
mat-icon {
  font-size: 20px;
}

.panel:hover {
  box-shadow: #999999;
}
.calls-tile {
  height: 290px;
  margin-bottom: 20px;
  .panel.booked {
    border-bottom: solid 3px #21B4B0;
  }
  .panel.follow-up {
    border-bottom: solid 3px #FBB829;
  }
  .panel {
    margin-bottom: 20px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    cursor: pointer;
    padding: 15px;
    .flipper {
      .front {
        z-index: 2;
      }
    }
    .panel-body {
      vertical-align: inherit;
      padding-top: 5px;
      .header.date-card {
        display: flex;
        .date {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content:center;
          min-width: 80px;
          height: 86px;
          border: 2px solid #d0d0d1;
          text-align: center;
          box-sizing: border-box;
          margin-right: 10px;
          .day {
            font-size: 24px;
          }
          .month {
            font-size: 14px;
            margin: 3px 0 1px;
          }
          .year {
            font-size: 12px;
          }
        }
        .title {
          max-height: 50px;
          height: 50px;
          overflow: hidden;
          font-size: 17px;
          color: #222;
        }
      }
    }

  }
}

.flipper.hover {
  .back {
    display: block;
    margin-top: 30px;
    margin-bottom: 120px;
  }
  .front {
    display: none;
  }
}


.panel-heading {
  height: 15px;
  color: #999999;
  font-variant: all-small-caps;
  font-variant-numeric: oldstyle-nums;
}

.panel-footer {
  background-color: transparent;
  margin-top: 10px;
  font-size: smaller;
  text-align: right;
  .invoiced-state {
    color: #21B4B0;
    padding: 0;
  }
  .follow-up-state {
    color: #FBB829;
    padding: 0;
  }
  .booked-state {
    color:  #21B4B0;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
}



.name {
  margin-bottom: 0;
}
.icon {
  text-align: right;
  font-size: 20px;
  margin-right: 0;
  margin-top: 45px;
  position: relative;
}
.heading {
  margin-bottom: 15px;
}

.span-style {
  margin-top: 20px;
  text-align: right;
  margin-right: 0;
}
p.staffP {
  font-size: 13px;
  margin-bottom: 0;
}

.subtitle {
  font-size: 13px;
  text-transform: inherit;
  color: #21b4b0;
  font-weight: 600;
}
.panel-body1 {
  padding: 20px 0 0;
  min-height: 100px;

  .panelBodyDetil {
    p.addressB {
      font-size: 12px;

      i {
        margin-right: 3px;
      }
    }
    .rate-card {
      display: flex;
      flex-direction: column;
      font-size: 15px;
      margin-bottom: 15px;

      .title {
        text-align: end;
        color: #888;
        font-size: 12px;
        line-height: 1;
      }
      .rate {
        text-align: end;
      }
    }
    ul.detilList {
      margin: 0;
      padding: 0;
      list-style: none;
    
      li {
        padding-bottom: 8px;
        font-size: 13px;
    
        strong {
          width: 43%;
          display: inline-block;
          font-weight: normal;
              color: #888;
        }    
      }
    }
  }
  
  .header.date-card {
    display: flex;
    padding: 0;

    .date{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 80px;
      height: 80px;
      border: 2px solid #d0d0d1;
      text-align: center;
      box-sizing: border-box;
      margin-right: 10px;
    }
  }
}


