<div class="row">
  <div class="col-md-6 col-xs-12 padding-none">
    <div class="row">
      <div class="col-xs-12">
        <h4 translate="profile.identity.personal"></h4>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.birth_place"></label>
        <p>{{ data.birthplace }}</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.birth_country"></label>
        <p>{{ data.birthcountry }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 padding-none">
    <div class="row">
      <div class="col-xs-12">
        <h4 translate="profile.identity.license"></h4>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.license-id"></label>
        <p>{{ data.idcard_number }}</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.outdate"></label>
        <p>{{ data.idcardInvalidAt }}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 padding-none">
    <div class="row">
      <div class="col-xs-12">
        <h4 translate="profile.identity.account"></h4>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.bankaccount_holder"></label>
        <p>{{ data.bankaccount_holder }}</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.bankname"></label>
        <p>{{ data.bankname }}</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.iban"></label>
        <p>{{ data.iban }}</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <label translate="profile.identity.bic"></label>
        <p>{{ data.bic }}</p>
      </div>
    </div>
  </div>
</div>
