hr {
  border: #21B4B0 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box {
  background-color: #4FAEC7;
  color: white;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  width: auto;
  margin-right: 3px;
  font-size: 15px;
}
