.search-form {
  padding: 20px;
}
table:hover {
  background-color: rgba(153, 153, 153, 0.03);
}

button {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

button:hover {
  color: #3bffed;
}

