.form-group {
  strong {
    margin-bottom: 5px;
  }
  address {
    margin-bottom: 10px;
    div {
      margin: 5px 0;
    }
  }
  .trim-text {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .certificate {
    margin-bottom: 8px;
    letter-spacing: 0.25px;
    .exclusive {
      background-color: #BCEDE8;
      padding: 2px;
      border-radius: 2px;
    }
  }
  .rating {
    letter-spacing: 0.25px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
