<app-search-container>
  <app-search-panel>
    <div class="progress-circle-cont">
      <ng-container *ngIf="hasFilter && !(noRecords$ | async)">
        <div class="text-center" *ngIf="(meta$ | async) as meta">
          <round-progress [current]="meta.invoiced_sum" [max]="meta.planned_sum" [color]="'#4FAEC7'" [radius]="60"
            [rounded]="false" [stroke]="3" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>
          <div class="progress-circle">
            <div class="current">{{meta.invoiced_sum | currency: 'EUR'}}</div>
            <div class="max">{{meta.planned_sum | currency: 'EUR'}}</div>
          </div>
        </div>
      </ng-container>
    </div>
    <form class="search-form" [formGroup]="searchForm">
      <div class="row">
        <h4>{{ "ui.side-option-menu.filter" | translate }}</h4>
        <mat-form-field class="full-width">
          <mat-label>{{"assignments.table.filters.agent" | translate}}</mat-label>
          <app-static-auto-complete formControlName="agent" #agent [options]="agentLK" [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>{{"assignments.table.filters.project" | translate}}</mat-label>
          <app-static-auto-complete formControlName="project" #project [options]="projectLK" [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <!-- <mat-form-field class="full-width">
          <mat-label>{{"assignments.table.filters.site" | translate}}</mat-label>
          <app-static-auto-complete formControlName="site" #site [options]="siteLK" [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field> -->
        <mat-form-field class="full-width">
          <mat-label>{{"assignments.table.filters.job" | translate}}</mat-label>
          <app-static-auto-complete formControlName="job" #job [options]="jobLK" [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>{{"assignments.table.filters.contractType" | translate}}</mat-label>
          <app-static-auto-complete formControlName="contractType" #contractType [options]="contractTypeLK"
            [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <div class="full-width">
          <app-multi-select-auto-complete formControlName="states" [filteredOptions]="statesLK" [static]="true"
            label="{{'assignments.table.filters.states' | translate}}">
          </app-multi-select-auto-complete>
        </div>
        <div class="toggle-btn-cont">
          <mat-slide-toggle formControlName="only_missing_docs" color="primary">
            {{'assignments.fields.missing_docs.only_missing_docs' | translate}}
          </mat-slide-toggle>
        </div>
        <mat-form-field class="full-width">
          <mat-label>{{"assignments.table.filters.freelancer" | translate}}</mat-label>
          <app-static-auto-complete formControlName="freelancer" #freelancer [options]="freelancerLK"
            [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>{{"assignments.table.filters.invoice_state" | translate}}</mat-label>
          <app-static-auto-complete formControlName="invoiceState" #invoiceState [options]="invoiceStateLK"
            [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <div class="toggle-btn-cont">
          <label class="form-field-label">{{ 'assignments.table.filters.client_invoice' | translate }}</label>
          <mat-slide-toggle formControlName="onlyBillable" color="primary">
            {{'assignments.fields.client_invoice.not_invoiced' | translate}}
          </mat-slide-toggle>
          <mat-slide-toggle formControlName="onlyBilled" color="primary">
            {{'assignments.fields.client_invoice.invoiced' | translate}}
          </mat-slide-toggle>
        </div>
        <div class="row">
          <label class="form-field-label">{{"assignments.table.filters.dates" | translate}}</label>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="dateFrom" formControlName="dateFrom" name="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="dateTo" formControlName="dateTo" name="dateTo">
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker #dateTo></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <h4>{{ "ui.side-option-menu.search" | translate }}</h4>
        <mat-form-field class="full-width">
          <mat-label>{{"assignments.search-placeholder" | translate}}</mat-label>
          <input matInput formControlName="search" type="search" />
          <i matSuffix class="fas fa-search"></i>
          <mat-hint>{{"ui.side-option-menu.placeholder" | translate}}</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </app-search-panel>
  <app-search-list>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 translate="assignments.title"></h1>
      </div>
      <div class="button-holder col-sm-6 col-xs-12 end-xs padding-none">
        <div class="button-wrap">
          <button mat-stroked-button color="primary" (click)="postAllTenders()" [disabled]="!tenderBtnEnabled">
            {{'assignments.buttons.tender-assignments' | translate}}
          </button>
          <div class="disabled-hint" *ngIf="!tenderBtnEnabled" [matTooltipPosition]="'below'"
            matTooltip="{{'assignments.tender-assignments.disabled-hint' | translate}}">
          </div>
        </div>
        <div class="button-wrap">
          <button mat-stroked-button color="primary" (click)="cancelAllBookings()" [disabled]="!cancelBtnEnabled">
            {{'assignments.buttons.cancel-booking' | translate}}
          </button>
          <div class="disabled-hint" *ngIf="!cancelBtnEnabled" [matTooltipPosition]="'below'"
            matTooltip="{{'assignments.cancel-booking.disabled-hint' | translate}}">
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="hasFilter && !(noRecords$ | async)">
      <div class="table-wrapper">
        <div class="table-inner-wrapper">
          <table mat-table [dataSource]="result$" class="search-table" matSort matSortDisableClear
            matSortDirection="desc">
            <ng-container matColumnDef="jobTitle">
              <th mat-header-cell *matHeaderCellDef class="long-col">{{ "assignments.table.jobTitle" | translate }}</th>
              <td mat-cell *matCellDef="let row">{{ row?.date?.data?.job?.data?.title }}</td>
            </ng-container>
            <ng-container matColumnDef="appointedTimeLabel">
              <th mat-header-cell *matHeaderCellDef>{{ "assignments.table.appointedTimeLabel" | translate }}</th>
              <td mat-cell *matCellDef="let row">
                {{ row.appointedDateTime && row.appointedDateTime.dateTime }}
              </td>
            </ng-container>
            <ng-container matColumnDef="siteFullAddress">
              <th mat-header-cell *matHeaderCellDef>{{ "assignments.table.siteFullAddress" | translate }}</th>
              <td mat-cell *matCellDef="let row">
                {{row.date?.data.job?.data.job_location}}
              </td>
            </ng-container>
            <ng-container matColumnDef="freelancerName">
              <th mat-header-cell *matHeaderCellDef>{{ "assignments.table.freelancerName" | translate }}</th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.freelancers && row.freelancers.length">
                  {{ row.freelancers[0].firstname }} {{ row.freelancers[0].lastname }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>{{ "assignments.table.status" | translate }}</th>
              <td mat-cell *matCellDef="let row">{{ 'assignments.fields.states.' +row.state | translate }}</td>
            </ng-container>
            <ng-container matColumnDef="invoiceState">
              <th mat-header-cell *matHeaderCellDef>{{ "assignments.table.invoiceState" | translate }}</th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.invoices && row.invoices.length">
                  {{ 'invoices.fields.states.' +row.invoices[0].state | translate }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row" class="action" >
                <button mat-icon-button color="accent" [matMenuTriggerFor]="subMenu" (click)="$event.stopPropagation();">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <mat-menu #subMenu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="navigateToDetail(row)">
                    {{"assignments.table.actions.details" | translate}}
                  </button>
<!--                  <ng-container *ngIf="hasFullAccess$ | async">-->
<!--                    <button mat-menu-item *ngIf="row.is_done" (click)="modifyTime(row)">-->
<!--                      {{"assignments.table.actions.modifytime" | translate}}-->
<!--                    </button>-->
<!--                    <button mat-menu-item *ngIf="row.is_done">-->
<!--                      {{"assignments.table.actions.invoicepreparation" | translate}}-->
<!--                    </button>-->
<!--                    <button mat-menu-item *ngIf="row.state === 'open'" (click)="navigateToCreateTender(row)">-->
<!--                      {{"assignments.table.actions.tender_create" | translate}}-->
<!--                    </button>-->
<!--                    <button mat-menu-item *ngIf="row.state === 'tendered'" (click)="navigateToUpdateTender(row)">-->
<!--                      {{"assignments.table.actions.tender_update" | translate}}-->
<!--                    </button>-->
                    <button mat-menu-item *ngIf="(row.state === 'open') || (row.state === 'tendered')"
                      (click)="deleteRecord(row)">
                      {{"assignments.table.actions.remove" | translate}}
                    </button>
<!--                    <button mat-menu-item (click)="updateComment(row)">-->
<!--                      {{"assignments.table.actions.update-comment" | translate}}-->
<!--                    </button>-->
<!--                  </ng-container>-->
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateToDetail(row)"></tr>
          </table>
          <app-table-spinner *ngIf="loading$ | async"></app-table-spinner>
        </div>
        <app-paginator [disabled]="loading$ | async" hidePageSize="true" showFirstLastButtons="true"
          [length]="totalRecords$ | async" [pageIndex]="currentPage$ | async" [pageSize]="pageSize$ | async"
          (page)="pageChange($event)" *ngIf="hasFilter && !(noRecords$ | async)">
        </app-paginator>
        <div class="row end-md center-xs" *ngIf="!(noRecords$ | async)">
          <button type="button" mat-stroked-button color="primary" (click)="download()">
            Download
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!hasFilter">
      <div class="alert alert-info">
        {{ "administration.users.filters.required" | translate }}.
      </div>
    </ng-container>
    <ng-container *ngIf="hasFilter && (noRecords$ | async)">
      <div class="alert alert-info">
        {{ "ui.list-table.default.no-records" | translate }}
      </div>
    </ng-container>
  </app-search-list>
</app-search-container>
