@import "variables";
@import "mixins";

.panel.tender {
  padding: 15px;
  border: 1px solid $p4y-color-gray-light;
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  &.expired {
    border-bottom: 3px solid $brand-danger;
  }
  &.active {
    border-bottom: 3px solid $info-label;
  }
  &.scheduled {
    border-bottom: 3px solid $brand-warning;
  }
  .panel-heading {
    display: flex;
    flex-direction: column;
    font-variant: all-small-caps;
    color: $p4y-color-gray-medium;
    .category {
      div.end-xs {
        span {
          margin-right: 10px;
        }
        a {
          cursor: pointer;
        }
      }
    }
  }

  .panel-body {
    padding: 15px 0 0;
    min-height: 100px;
    address {
     line-height: 20px;
     .site-phone {
       margin-top: 5px;
     }
    }
    .trim-text {
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .header.date-card {
      display: flex;
      padding: 0;
      .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        min-width: 80px;
        height: 80px;
        border: 2px solid #d0d0d1;
        text-align: center;
        box-sizing: border-box;
        margin-right: 10px;
        .day {
          font-size: 24px;
        }
        .month {
          font-size: 14px;
          margin: 3px 0 1px;
        }
        .year {
          font-size: 12px;
        }
      }
      .title {
        max-height: 50px;
        height: 50px;
        overflow: hidden;
        font-size: 20px;
        line-height: 25px;
      }
      .subtitle {
        line-height: 25px;
      }
    }
    .time-rate-cont {
      margin-top: 10px;
    }
    .site {
      margin-top: 15px;
      .site-group {
        span.far {
          margin-right: 5px;
        }
      }
    }
  }

  .text-info {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
  }

  i {
    margin-right: 5px;
  }

  .panel-footer {
    position: relative;
    margin-top: 15px;
    color: $gray-light;

    .date {
      font-size: smaller;
      color: $p4y-color-gray-dark;
    }
    .state {
      font-size: smaller;
      &.expired {
        color: $brand-danger;
      }
      &.scheduled {
        color: $brand-warning;
      }
    }
}
}

.search-form {
  padding: 20px;
}
.status-cont {
  display: flex;
  flex-direction: column;
  mat-slide-toggle {
    margin: 8px 0;
  }
}


.panel.tender {
  padding: 15px;
  border: 1px solid #ccc;
}
.panel.tender.expired {
  border-bottom: 3px solid #d44;
}
.panel.tender .panel-heading {
  display: flex;
  flex-direction: column;
  font-variant: all-small-caps;
  color: #999;
}
.panel.tender .panel-heading .category div.end-xs span{
  margin-right: 10px;
}
.panel.tender .panel-heading .category div.end-xs a {
  cursor: pointer;
}
.panel.tender i {
  margin-right: 5px;
}
.panel.tender .panel-body {
  padding: 15px 0 0;
  min-height: 100px;
}
.panel.tender .panel-body .header.date-card {
  display: flex;
  padding: 0;
}
.panel.tender .panel-body .header.date-card .date{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 80px;
  border: 2px solid #d0d0d1;
  text-align: center;
  box-sizing: border-box;
  margin-right: 10px;
}

.panel.CustomePanel {
  padding-left: 0 !important;
  padding-right: 0 !important;

  .panel-heading {
    width: calc(100% - 30px) !important;
    flex: calc(100% - 30px) !important;
    flex-direction: inherit !important;
    padding-left: 15px;
    padding-right: 15px;

    .smallPWidth {
      position: relative;
      display: inline-flex;
      width: 60%;
      flex: 60%;
      flex-direction: column;

      h3.title {
        font-size: 17px;
        color: #222;
        text-transform: inherit;
        margin-bottom: 9px;
      }

      span.subtitle {
        font-size: 15px;
        text-transform: inherit;
        color: #21b4b0;
        font-weight: 600;
      }
    }
     .boxId {
      position: relative;
      display: inline-flex;
      width: calc(100% - 61%);
      flex: calc(100% - 61%);
      height: fit-content;
      align-items: center;
      padding-left: 9px;
      justify-content: flex-end;
    
      span.jobId {
        border: 1px solid #ccc;
        height: auto;
        margin-right: 7px;
        padding: 4px;
        font-size: 15px;
        line-height: 1;
      }
    }
  }
  .panelBodyDetil {
    position: relative;
    display: block;

    p.addressB {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 20px;
    }
    
    p.staffP {
      font-size: 13px;
      margin-bottom: 0;
    }

    p.stafName {
      font-size: 12px;
      margin-bottom: 17px;
      color: #21b4b0;
    }
    button.sendInvite {
      box-shadow: none;
      border: 1px solid #21b4b0;
      background: transparent;
      padding: 3px 22px;
      border-radius: 7px;
      font-size: 12px;
      font-weight: 500;
      background-color: #21b4b0;
      color: #fff;
    }
    ul.detilList {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-left: -10px;
    }
    ul.detilList li {
      padding-bottom: 8px;
      font-size: 13px;
    }
    ul.detilList li strong {
      width: 37%;
      display: inline-block;
      font-weight: normal;
      color: #888;
    }
  }
  

  .panel-footer {
    padding-left: 15px;
    padding-right: 15px;
  
    span {
      font-size: 13px;
      font-weight: 600;
    }
    
  }
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}