<div class="container-fluid">
  <div class="row">
    <div *ngIf="mode === 'detail'" class="col-xs-12">
      <a [routerLink]="['/dates']">
        {{ 'dates.buttons.back' | translate }}
      </a>
    </div>
    <div class="col-xs-12">
      <div class="acion-title-holder">
        <h1 *ngIf="mode === 'detail'" translate="date.title.details"></h1>
        <h1 *ngIf="mode === 'edit'" translate="date.title.edit"></h1>
        <h1 *ngIf="mode === 'newDate'" translate="date.title.new"></h1>
        <div *ngIf="mode === 'detail'" class="action-btn-cont">
          <a mat-flat-button color="accent" [routerLink]="['/dates/edit', id]" [skipLocationChange]="true">
            {{ 'date.buttons.edit' | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 padding-none">
      <fieldset *ngIf="mode === 'detail' && (dateDetail$ | async) as date">
        <div class="row">
          <div class="form-group col-xs-12">
            <label required translate="date.fields.appointed_at.label"></label>
            <div>{{date.appointed_at | date: 'mediumDate'}}</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label required translate="date.fields.start_time.label"></label>
            <div>{{date.start_time}}</div>
          </div>
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label required translate="date.fields.finish_time.label"></label>
            <div>{{date.finish_time}}</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label translate="dates.table.role_name"></label>
            <div>{{date.role_name}}</div>
          </div>
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label translate="dates.table.shift_name"></label>
            <div>{{date.shift_name}}</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label translate="projects.inherited.fields.budget.label"></label>
            <div *ngIf="date.budget">{{date.budget.name}} ({{'administration.budgets.label.available' | translate}}:
              {{date.budget.available | currency: 'EUR'}})</div>
          </div>
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label required translate="projects.inherited.fields.wage.label"></label>
            <div>{{date.wage | currency: 'EUR'}}</div>
          </div>
          <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label required translate="projects.inherited.fields.assignment_budget.label"></label>
            <div>{{date.assignment_budget | currency: 'EUR'}}</div>
          </div>
        </div>
      </fieldset>

      <fieldset *ngIf="mode === 'edit' && (dateDetail$ | async) as date">
        <form [formGroup]="detailForm" *ngIf="detailForm">
          <div class="row">
            <div class="form-group col-xs-12">
              <label translate="date.fields.appointed_at.label"></label>
              <div>{{date.appointed_at | date : 'mediumDate'}}</div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"date.fields.start_time.label" | translate}}</mat-label>
                <input matInput formControlName="start_time" [ngxTimepicker]="start_time" [format]="24" readonly>
                <ngx-material-timepicker #start_time [enableKeyboardInput]="true">
                </ngx-material-timepicker>
                <mat-error *ngIf="displayMessage.start_time">{{displayMessage.start_time}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"date.fields.finish_time.label" | translate}}</mat-label>
                <input matInput formControlName="finish_time" [ngxTimepicker]="finish_time" [format]="24" readonly>
                <ngx-material-timepicker #finish_time [enableKeyboardInput]="true">
                </ngx-material-timepicker>
                <mat-error *ngIf="displayMessage.finish_time">{{displayMessage.finish_time}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label>{{"projects.inherited.fields.budget.label" | translate}}</mat-label>
                <app-static-auto-complete formControlName="budget_id" [clearSelection]="true" #budget_id
                  [options]="budgetLK" [error]="displayMessage.budget_id">
                </app-static-auto-complete>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"projects.inherited.fields.wage.label" | translate}}</mat-label>
                <input matInput formControlName="wage" name="wage" />
                <mat-error *ngIf="displayMessage.wage">{{displayMessage.wage}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"projects.inherited.fields.assignment_budget.label" | translate}}</mat-label>
                <input matInput formControlName="assignment_budget" name="assignment_budget" />
                <mat-error *ngIf="displayMessage.assignment_budget">{{displayMessage.assignment_budget}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <button mat-flat-button type="submit" color="accent" (click)="saveDetail()">
                {{"date.buttons.update" | translate}}
              </button>
              <button mat-stroked-button type="button" color="primary" (click)="cancelEdit()"
                translate="date.buttons.cancel"></button>
            </div>
          </div>
        </form>
      </fieldset>

      <fieldset *ngIf="mode === 'newDate' && (jobDetail$ | async) as job">
        <form [formGroup]="detailForm" *ngIf="detailForm">
          <div class="row">
            <div class="form-group col-sm-5 col-xs-12">
              <label translate="date.create.selected_dates"></label>
              <div [ngClass]="{'calendar-cont': true, 'dates-invalid': !(selectedDates && selectedDates.length)}">
                <mat-calendar #dateCalendar [minDate]="minDate" [maxDate]="maxDate" [selected]="addedDate"
                  [dateClass]="dateClass()" (selectedChange)="selectDate($event)">
                </mat-calendar>
                <mat-error *ngIf="validateDatesField && selectedDates.length === 0">{{
                  'form.errors.required' | translate }}</mat-error>
              </div>
            </div>
            <div class="form-group col-sm-5 col-xs-12">
              <label>{{ 'date.create.selected_dates' | translate }}</label>
              <div class="active-dates-cont" *ngIf="selectedDates.length > 0">
                <div class="active" *ngFor="let date of selectedDates">
                  {{ date | date: 'mediumDate'}}
                  <a mat-stroked-button color="primary" translate="date.buttons.remove"
                    (click)="updateSelectedDates(date)"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"date.fields.start_time.label" | translate}}</mat-label>
                <input matInput formControlName="start_time" [ngxTimepicker]="start_time" [format]="24" readonly>
                <ngx-material-timepicker #start_time [enableKeyboardInput]="true">
                </ngx-material-timepicker>
                <mat-error *ngIf="displayMessage.start_time">{{displayMessage.start_time}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"date.fields.finish_time.label" | translate}}</mat-label>
                <input matInput formControlName="finish_time" [ngxTimepicker]="finish_time" [format]="24" readonly>
                <ngx-material-timepicker #finish_time [enableKeyboardInput]="true">
                </ngx-material-timepicker>
                <mat-error *ngIf="displayMessage.finish_time">{{displayMessage.finish_time}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label>{{"projects.inherited.fields.budget.label" | translate}}</mat-label>
                <app-static-auto-complete formControlName="budget_id" [clearSelection]="true" #budget_id
                  [options]="budgetLK" [error]="displayMessage.budget_id">
                </app-static-auto-complete>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"projects.inherited.fields.wage.label" | translate}}</mat-label>
                <input matInput formControlName="wage" name="wage" />
                <mat-error *ngIf="displayMessage.wage">{{displayMessage.wage}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <mat-form-field class="full-width">
                <mat-label required>{{"projects.inherited.fields.assignment_budget.label" | translate}}</mat-label>
                <input matInput formControlName="assignment_budget" name="assignment_budget" />
                <mat-error *ngIf="displayMessage.assignment_budget">{{displayMessage.assignment_budget}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <button mat-flat-button type="submit" color="accent" (click)="saveDetail()">
                {{"date.buttons.update" | translate}}
              </button>
              <button mat-stroked-button type="button" color="primary" (click)="cancelEdit()"
                translate="date.buttons.cancel"></button>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>
