@import 'variables';
.photo {
  // background-color: $body-background-color;
  width: 100%;
  padding-bottom: 133%;
  border: dashed 1px $brand-primary;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
