@import 'variables';
@import 'mixins';

.panel {
  margin: 10px;
  cursor: pointer;
  position: relative;
  border: 1px solid #ddd;
  border-bottom: solid 3px #cccccc;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);

  @include tile-state("warn", $p4y-color-status-warning);
  @include tile-state("error", $p4y-color-status-error);
  @include tile-state("ok", $p4y-color-status-active);

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  .panel-heading,
  .panel-body {
    padding: $p4y-tile-inner-padding;
  }

  .panel-footer {
    background-color: transparent;
    border-top: none;
    font-size: smaller;
    padding: 10px 15px;
    border-top: none;
    position: relative;
    clear: both;
    padding-bottom: $p4y-tile-inner-padding;
    .valid-until {
      margin-top: 10px;
    }
  }
}

.panel-body {
  padding: 0 0 15px;
  .title {
    // padding: 0 15px;
    margin-bottom: 6px;
    text-align: left;
    height: 54px;
    text-transform: uppercase;
  }

  .budget-label {
    font-size: 11px;
    color: #aaa;
    text-transform: uppercase;
    display: block;
  }

  .budget-label + div {
    font-size: 16px;
    min-height: 30px;

    &.budget-available {
      font-size: 20px;
    }

    &.budget-consumed,
    &.budget-value,
    &.budget-planned {
      font-size: 12px;
    }
  }
}
.panel-footer .creator {
  color: $body-text-color;
}

.role-client,
.role-field {
  .budget-tile .panel-footer .creator {
    display: none;
  }
}
