<div *ngIf="loggedRole !== 'freelancer'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <a *ngIf="mode !== 'clientJob'" [routerLink]="['/jobs']">
          {{ 'job.buttons.back' | translate }}
        </a>
        <a *ngIf="mode === 'clientJob'" [routerLink]="['/jobs/client']">
          {{ 'job.buttons.back' | translate }}
        </a>
      </div>
      <div class="col-xs-12">
        <div class="acion-title-holder">
          <h1 translate="job.title.details"></h1>
          <div class="action-btn-cont">
            <ng-container *ngIf="mode !== 'clientJob'">
              <a mat-stroked-button color="primary" routerLink="/jobs/{{id}}/offers">
                {{ 'job.buttons.pending-offers' | translate }}
              </a>
              <a mat-stroked-button color="primary" routerLink="/jobs/{{id}}/tenders/create">
                {{ 'job.buttons.create-tenders' | translate }}
              </a>
              <a mat-flat-button color="accent" [routerLink]="['/jobs/edit', id]" [skipLocationChange]="true">
                {{ 'job.buttons.edit' | translate }}
              </a>
            </ng-container>
            <a mat-stroked-button color="primary" *ngIf="mode === 'clientJob'" (click)="NavigateTojobDetails()">
              {{ 'job.buttons.create-tenders' | translate }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 padding-none" *ngIf="(jobDetail$ | async)">
        <app-job-detail-general [job]="jobDetail$ | async" [budget]="budgetDetail$ | async"
                                [budgetContactNames]="budgetContactNames" [mode]="mode">
        </app-job-detail-general>
        <app-job-detail-products [salesSlot]="salesSlot$ | async">
        </app-job-detail-products>
        <app-job-detail-feedback [feedback]="feedback$ | async">
        </app-job-detail-feedback>
        <app-job-detail-info-document [job]="jobDetail$ | async">
        </app-job-detail-info-document>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loggedRole === 'freelancer'">
  <app-search-container>
    <app-search-panel>
      <form class="search-form" [formGroup]="freelancerJob">
        <h4>{{ "ui.side-option-menu.filter" | translate }}</h4>
        <mat-form-field class="full-width">
          <mat-label>{{"jobs.freelancer.filters.contractType" | translate}}</mat-label>
          <app-static-auto-complete formControlName="contractType" #contractType [options]="contractTypeLK"
                                    [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <div class="row">
          <label>{{"jobs.freelancer.filters.dates" | translate}}</label>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="start" formControlName="start">
            <mat-placeholder>{{"ui.filter.range.min" | translate}}</mat-placeholder>
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="end" formControlName="end">
            <mat-placeholder>{{"ui.filter.range.max" | translate}}</mat-placeholder>
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row post-code-cont">
          <label>{{"jobs.freelancer.filters.postcodes" | translate}}</label>
          <mat-form-field class="col-sm-6 col-xs-12">
            <mat-label>{{ "ui.filter.range.min" | translate }}</mat-label>
            <input matInput formControlName="zip_from" type="text"/>
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-xs-12">
            <mat-label>{{ "ui.filter.range.max" | translate }}</mat-label>
            <input matInput formControlName="zip_to" type="text"/>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <mat-label>{{"jobs.freelancer.filters.certificate" | translate}}</mat-label>
          <app-static-auto-complete formControlName="certificate" #certificate [options]="certificateLK"
                                    [clearSelection]="true">
          </app-static-auto-complete>
        </mat-form-field>
        <div class="row">
          <h4>{{ "ui.side-option-menu.search" | translate }}</h4>
          <mat-form-field class="full-width">
            <mat-label>{{"jobs.search.placeholder" | translate}}</mat-label>
            <input matInput formControlName="search" type="search"/>
            <i matSuffix class="fas fa-search"></i>
            <mat-hint>{{"jobs.freelancer.search-job-placeholder" | translate}}</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </app-search-panel>
    <app-search-list>
      <div class="row">
        <div class="col-xs">
          <h1 translate="tenders.tender.header-all"></h1>
        </div>
      </div>
      <div class="row center-xs" *ngIf="freelancerJobOfferList.length == 0">
        <div class="col-xs">
          <div class="alert alert-info text-center">
            {{ "ui.list-table.default.no-records" | translate }}
          </div>
        </div>
      </div>
      <div class="job-view--type">
        <div
          class="btn-group text-right"
          role="group"
          aria-label="Viewing"
          btnRadioGroup
        >
          <button
            (click)="viewing='Tile'"
            [ngClass]="viewing=='Tile'?'active':''"
            type="button"
            btnRadio="categories"
          >
            Tile
          </button>
          <button
            (click)="viewing='List'"
            type="button"
            [ngClass]="viewing=='List'?'active':''"
            btnRadio="services"
          >
            List
          </button>
        </div>
      </div>  
      <ng-container *ngIf="viewing == 'Tile'">
        <div class="table-wrapper">
          <div class="row">
            <div class="freelancer-offer-tile col-md-6" *ngFor="let freelanceData of freelancerJobOfferList" (click)="setid(freelanceData.id)"
             [ngClass]="{ 'matched': (freelanceData?.tender?.data?.length > 0 && freelanceData?.tender?.data[0].is_matching) || false }">
              <div class="panel" *ngIf="!(noRecords$ | async)">
                  <div class="panel-header">
                    <div class="row panel-heading">
                      <div class="job-title">
                        <div class="row header">
                          <div><strong>{{ freelanceData?.title }}</strong></div>
                          <div *ngIf="(freelanceData?.tender?.data?.length > 0 && freelanceData?.tender?.data[0].is_matching)">
                            <a color="accent" [matMenuTriggerFor]="subMenu">
                              <i class="fas fa-ellipsis-h freelance_jobs_wrapper"></i>
                            </a>
                            <mat-menu #subMenu="matMenu" xPosition="before">
                              <button mat-menu-item (click)="setid(freelanceData.id)">
                                {{'tenders.tenders.table.actions.details' | translate}}
                              </button>
                            </mat-menu>
                          </div>
                        </div>
                        <div class="category-contractType">
                          <span style="text-transform: uppercase">{{ freelanceData?.category }}</span>
                          <span class="jobcategory pull-right">{{freelanceData?.contractType}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class=" col-xs-12">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="freelance_jobs_data">
                      <address *ngIf="freelanceData.location.length < 5">
                        <mat-icon> business</mat-icon>
                        {{ freelanceData?.addName }}, {{freelanceData?.addZip}} {{freelanceData?.addCity}}
                      </address>
                      <address *ngIf="freelanceData.location.length > 4">
                        <span><mat-icon> business</mat-icon></span> <span><b
                        *ngIf="freelanceData.location.length > 4">{{freelanceData?.group}}</b></span>
                        <br>  {{ freelanceData?.addName }} | {{freelanceData?.number}}
                        <br> {{freelanceData?.address}} {{freelanceData?.addZip}} {{freelanceData?.addCity}}
                      </address>
                    </div>
                    <div *ngFor="let dateData of freelanceData?.date; let i = index">
                      <div class="row">
                        <span *ngIf="i === 0 ">
                        {{freelanceData?.date?.length}}
                          Termin(e) am {{dateData?.snapshots?.date?.appointed_at | date: 'mediumDate'}} -
                        </span>
                        <span *ngIf="i === 4">
                        {{dateData?.snapshots?.date?.appointed_at | date: 'mediumDate'}}
                        </span>
                      </div>
                    </div>
                    <div>
                      <span *ngIf="!(freelanceData?.tender?.data?.length > 0 && freelanceData?.tender?.data[0].is_matching)">
                          {{'job.details.fields.location_not_match' | translate}}
                      </span>
                    </div>
                    <div class="file">
                      <span *ngIf="freelanceData.ContractType !== 'freelancer'" class="row">
                        <mat-icon> insert_drive_file</mat-icon> {{'job.details.fields.contract_mismatched' | translate}}
                      </span>
                    </div>
                  </div>
            </div>
            </div>
          </div>
        </div>
      </ng-container>   
      <ng-container *ngIf="viewing == 'List'">
        <div
            [ngClass]="{ 'col-xs': true, 'table-wrapper': true }"
            *ngIf="!(noRecords$ | async)"
          >
            <div class="table-inner-wrapper">
              <table
                mat-table
                class="search-table"
                [dataSource]="freelancerJobOfferList"
              >
                <ng-container matColumnDef="Client Name">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "jobs.table.clientname" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row?.addName}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Job Name">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "jobs.table.title" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row?.title}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Category">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "jobs.table.categoryName" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row?.category}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="City">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "jobs.table.sitecity" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row?.addCity}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Post Code">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "jobs.table.sitezip" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row?.addZip}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Site Address">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "jobs.table.siteaddress" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row?.address}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Expiry Date">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "jobs.table.datesNumber" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row?.TDate}}
                  </td>
                </ng-container>
                
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row" class="action">
                    <button
                      mat-icon-button
                      color="accent"
                      [matMenuTriggerFor]="subMenu"
                      (click)="$event.stopPropagation()"
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <mat-menu #subMenu="matMenu" xPosition="before">
                      <button mat-menu-item [routerLink]="'../../freelancers/'+row?.id">
                        {{ "administration.health-insurances.table.actions.details" | translate }}
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns;"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="setid(row)"></tr>
              </table>
            </div>
          </div>
      </ng-container>
      <app-paginator *ngIf="freelancerJobOfferList.length !== 0"
                     [length]="totalRecord"
                     [pageIndex]="currentPage - 1"
                     [pageSize]="totalPage"
                     (page)="pageChange($event)"></app-paginator>
    </app-search-list>
  </app-search-container>
</div>
